<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list card" ng-repeat="thing in things">
      <div class="item item-divider">{{ thing.label }}</div>
      <div class="item item-body">
        <ion-spinner ng-show="thing.loading" icon="spiral"></ion-spinner>

        <div ng-repeat="widget in thing.widgets">
          <div ng-if="widget.type === 'poll-state'">
            <div>State: {{ widget.state || "Unknown" }}</div>
          </div>
          <div ng-if="widget.type === 'button'">
            <button class="button button-full button-positive" ng-click="widget.action()">
              {{widget.label}}
            </button>
          </div>
          <div ng-if="widget.type === 'modal'">
            <button class="button button-full button-positive" ng-click="widget.openModal()">
              {{widget.label}}
            </button>
          </div>
          <div ng-if="widget.type === 'image'">
            <img ng-src="{{widget.src}}" style="max-width: 100%;"/>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
